/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Raleway";
  src: 
    font-url("Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    font-url("Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    font-url("Raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

$light-teal: hsla(180, 65%, 60%, 0.5);
$teal: hsla(180, 60%, 50%, 1);
$transp-teal: hsla(180, 80%, 40%, 0.4);
$dark-teal: hsla(180, 90%, 30%, 0.5);
$darkest-teal: hsla(180, 95%, 25%, 0.5);
$white: hsla(0, 0%, 100%, 1);

html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  padding-bottom: 3rem;
  position: relative;
}

body {
  background-color: $light-teal;
  color: $white;
  font-family: "Raleway", sans-serif;
  line-height: 1.25em;
  text-align: center;
  z-index: 0;
}

header {
  background-color: $teal;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
}

header a {
  background-color: $dark-teal;
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
}

header a:hover {
  background-color: $darkest-teal;
}

header h1,
header a {
  float: left;
  margin: 0.5rem;
  padding: 1rem;
}

nav {
  float: right;
}

@media screen and (max-width: 940px) {
  header a {
    display: block;
    float: none;
  }

  nav {
    float: none;
  }

  header h1 {
    float: none;
    line-height: 1em;
  }
}

p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 2rem auto 2rem 6rem;
  text-align: left;
}

h2 {
  border-bottom: 0.02rem dashed $white;
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.25em;
  margin: 1.5rem;
  text-decoration: underline;
}

h3,
th {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.25em;
  margin: 1.5rem;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.1em;
  margin: 1rem;
}

hr {
  border: 0.02rem dashed $white;
  clear: both;
  margin: 2rem auto;
}

a {
  color: $white;
  margin: 2rem;
  text-decoration: underline;
}

a:hover {
  -webkit-text-stroke: 0.05em;
}

main {
  width: 100%;
}

section {
  background-color: $transp-teal;
  box-sizing: border-box;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 20rem;
  overflow: hidden;
  padding: 1rem;
  width: 70%;
}

table {
  border: 1px dashed $white;
  margin: 2.5%;
  table-layout: fixed;
  width: 95%;
  word-wrap: normal;
}

#comment {
  word-wrap: break-word;
}

td,
th {
  padding: 0.5em;
}

img {
  padding: 5%;
  width: 80%;
}

img:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

footer {
  background-color: $teal;
  bottom: 0;
  height: 3rem;
  position: absolute;
  width: 100%;
}

.contact {
  line-height: 3rem;
}
